.aboutHeader {
  width: 100%;
  background-color: white;
  box-shadow: 10px 10px 10px 10px rgb(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 70%;
  margin: 5% 0% 0% 15%;
  padding: 5px;
}
.aboutHeaderContent {
  text-align: center;
  font-family: Volkhov;
  color: var(--1st, #181e4b);
  font-size: 30px;
}
.aboutHeaderContentDown {
  display: flex;
}
.aboutHeaderContentDown img {
  width: 350px;
  height: 400px;
  margin: -43px 0px 0px 30px;
}
.aboutHeaderContentDown p {
  width: 50%;
  font-family: Volkhov;
  color: var(--1st, #181e4b);
  font-size: 25px;
  text-align: center;
  margin: 70px 0px 0px 53px;
}
.aboutContent {
  background-image: url(/src/images/hand-painted-watercolor-pastel-sky-background_23-2148902771.avif);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.aboutContentUp {
  text-align: center;
  margin-top: 100px;
}
.aboutContentUp h2 {
  font-family: Volkhov;
  color: var(--1st, #43444b);
  font-size: 35px;
  padding: 10px;
}
.aboutContentUp p {
  font-size: 22px;
  width: 766px;
  margin-left: 367px;
}
.aboutContentDown {
  display: flex;
}
.ulUp,
.ulDown {
  width: 28%;
  margin: 3% 0% 0% 16%;
  font-size: 20px;
}
.ulUp ul li,
.ulDown ul li {
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: aliceblue;
  padding: 7px;
}
